{
  "env": {
    "node": {
      "presets": [
        ["env", {
          "targets": {
            "node": "4"
          }
        }]
      ]
    },
    "browser": {
      "presets": [
        ["env"]
      ]
    }
  }
}
