{
  "env": {
    "node": {
      "presets": [
        ["env", {
          "targets": {
            "node": "4"
          }
        }]
      ],
      "plugins": [
        ["babel-plugin-transform-inline-environment-variables", {
          "exclude": [
            "DEBUG"
          ]
        }],
        "babel-plugin-minify-dead-code-elimination"
      ]
    },
    "browser": {
      "presets": [
        ["env"]
      ]
    }
  }
}
